{# Common macros for templates #}

{% macro center_text(text, width) %}
{{ text|center(width) }}
{% endmacro %}

{% macro status_line(username, level, time, width) %}
{% if width == 80 %}
{{ username }} | Level: {{ level }} | Time: {{ time }}
{% else %}
User: {{ username }}
Lvl: {{ level }} Time: {{ time }}
{% endif %}
{% endmacro %}

{% macro press_any_key(width) %}
{% if width == 80 %}
Press any key to continue...
{% else %}
[Press Any Key]
{% endif %}
{% endmacro %}